<div class="" *ngIf="canShowData">
    <!--
    <div id="mainheader">
        <div class="container">
            <h1> {{ psychologist.name }} {{ psychologist.last_name }} </h1>
            <img src="{{ (psychologist.imageURL)}}" class='imgRedonda' />
        </div>
    </div>

    <div id="icons">
        <div class="container">
            <div class="icons-box">

                <h2>Presentacion</h2>
                <p>{{ psychologist.presentation }}</p>
            </div>
            <div class="icons-box">

                <h2>Specialities</h2>
                <p>{{ psychologist.specialities[0] }}</p>
            </div>
            <div class="icons-box">

                <h2>Email</h2>
                <p>{{ psychologist.email }}</p>
            </div>
            <div class="icons-box">

                <h2>Phone</h2>
                <p>{{psychologist.phone}}</p>
            </div>
            <div class="icons-box">

                <h2>Rate</h2>
                <p> {{psychologist.rate}} </p>
            </div>
        </div>
    </div>
    --->

    {{psychologist}}
</div>


<div class="test">
   {{componentStatus}}
</div>